/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.verMenu{
    margin-top: 20px;
    margin-left:2%;
    float:left;
    width: 20%;

}
.bormenu{
    border:1px solid #005030;
    border-radius:6px;

}
.listmenu{
    line-height: 40px;
    list-style-type: square;
}
.listmenu>li{
    display: block;
    padding-left:40px;
    border-bottom: 1px solid #CCCCCC;
    font-family: sans-serif;
    font-weight: 500;
}
.listmenu a{
    color: black !important;
}
.textmenu{
    font-weight: bolder;
    line-height: 40px;
    border-bottom: 1px solid #CCCCCC;
    color:   white !important;
    background-color: #142340;
    padding: 0 20px;
}

.listmenu>li:hover{
    background-color: #FFFFFF;
    color:black !important;
    font-weight: 700;
    /*font-family: sans-serif;*/
}

.items img{
    border-radius:10px !important;
}

.info{
    margin-top: 20px;
    margin-left: 2%;
    border-radius:6px;
    width: 75% !important;
    padding: 0px !important;
    float:left;
}
.tittle{
    padding-left:20px;
    line-height: 50px;
    background-color: #1AB7EA;
    color:white;
    border-radius:6px ;
    width:100%;
}



.content{
    /*    border:1px solid #005030;
        margin-left: 10px;
        width: 75%;*/
}

.buttonback{
    margin-left: 20px;
    float:right;
}


.footer{
    margin-top: 10px;
}
.header{
    /*background-image: url("../images/banner.jpg");*/ 
}
body{
    background-color: #F6F7F8 !important ;
}
.tablec {
    overflow: hidden;
    line-height: 20px !important;
    border-spacing: 0;
    border-collapse: collapse;
    border-style: hidden;
    background-color: white;
    width:100%;
    max-width: 100%;
}
.tablec th{
    width:25%;
}
/*.form-control{
    width:60% !important;
    float:left;
    margin-right:2%;
    margin-left:2%;
}*/
.myinput{
    width:60% !important;
    float:left;
    margin-right:2%;
    margin-left:2%;
}
.tablec form{
    color:#202020 !important;
}
td,th.tableReciept{
    text-align: center;
}

.tablec th, td {
    padding: 10px;
    border: 1px solid #CCCCCC;
}


.wrapper {
    margin-top:10px;
    margin-bottom: 15px;
    overflow: auto;
    border-radius:6px;
    border: 1px solid #CBCBCB;
}

#hidden_div {
    display: none;
}

#phone-number{
    padding-left: 60px;
    font-size: 15px;
    font-weight: BOLD;
}
#dv{
    font-size: 12px;
    width: 300px;
}
#iconphone{
    float: left;
}

.readonly{
    text-align: left;
    background-color: #EBEBE4 !important;
    color:#202020 !important;
}
.slidecarousel{
    width:100% !important;  
}

.carousel-caption{
    border:1px solid #FFFFFF;
    border-radius: 6px;
    opacity: 80%;
    width:30%;
    height:50%;
    margin-left: -8% !important;
    background-color: #FFFFFF;
    color:black !important;
}

@media (max-width: 1224px) and (min-width: 1000px){
    #hotline {
        text-align: right;
        width: 190px;
        float: right;
        border: 1px solid #005030;
        height: 55px;
        padding: 10px;
        border-radius: 5px;
        margin-top: 12px;
        margin-right: 0;}
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -17rem;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
        margin: 0;
    }
    #content.active {
        margin-left: 17rem;
        width: calc(100% - 17rem);
    }
}

#message p{
    color: black;
    padding-left:30px;
    font-size: 12px;
}




/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/

