/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.verMenu{
    margin-top: 20px;
    margin-left:10px;
    float:left;
    width: 20%;

}
.bormenu{
    border:1px solid #005030;
    border-radius:6px;

}
.listmenu{
    line-height: 40px;
    list-style-type: square;
}
.listmenu>li{
    display: block;
    padding-left:40px;
    border-bottom: 1px solid #CCCCCC;
}
.textmenu{
    font-weight: bold;
    line-height: 40px;
    border-bottom: 1px solid #CCCCCC;
    color:   #000000 ;
    padding: 0 20px;
}

.listmenu>li:hover{
    background-color: #1EA0E9;
}

.info{
    margin-top: 20px;
    margin-left: 10px;
    border:1px solid #005030;
    border-radius:6px;
    width: 75%;
    padding: 0px !important;
}
.tittle{
    line-height: 50px;
    background-color: #1ab7ea;
    color:white;
}


.content{
    /*    border:1px solid #005030;
        margin-left: 10px;
        width: 75%;*/
}

.buttonback{
    margin-left: 10px;
    float:right;
}


.footer{
    margin-top: 10px;
}
.header{
    /*background-image: url("../images/banner.jpg");*/ 
}
body{
    background-color: #F6F7F8;
}

.table{
    color:black;

}
.table td{
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    width:70%;
}
.table th{
    background-color: #EBF1FB;
}
.table input{
    width:60%;
}
.table label{
    width:100%;
    text-align: left !important;
}


#hidden_div {
    display: none;
}

#phone-number{
    padding-left: 60px;
    font-size: 15px;
    font-weight: BOLD;
}
#dv{
    font-size: 12px;
    width: 300px;
}
#iconphone{
    float: left;
}

.readonly{
    background-color: #EBEBE4 !important;
    color:#A7A9AC !important;
}

@media (max-width: 1224px) and (min-width: 1000px){
    #hotline {
        text-align: right;
        width: 190px;
        float: right;
        border: 1px solid #005030;
        height: 55px;
        padding: 10px;
        border-radius: 5px;
        margin-top: 12px;
        margin-right: 0;}
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -17rem;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
        margin: 0;
    }
    #content.active {
        margin-left: 17rem;
        width: calc(100% - 17rem);
    }
}

/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/

